@using ExplorCalifornia.Models;

@{
    Layout = "_Layout";
}

@model Post[]

@section header{
    <h1>Explore our world your way</h1>
    <a href="/tours.htm" title="Find your tour!"><h2>Find your tour</h2></a>
}

<h1>Explorer's Blog</h1>

<p>
    Blow are a few of the latest postes from some of our exolorers.
</p>

<div class="blog-post">
    @foreach (var post in Model)
    {
        @await Html.PartialAsync("_Post", post);
    }
</div>